.trupeNome {
    color: #000000;
}

.trupeCusto {
    color: #000000;
}

.trupeLenda {
    color: #000000;
}

.vascoNome {
    color: #000000;
}

.vascoCusto {
    color: #000000;
}

.vascoLenda {
    color: #000000;
}

.anfibiosNome {
    color: #000000;
}

.anfibiosCusto {
    color: #000000;
}

.anfibiosLenda {
    color: #000000;
}

.olimpoNome {
    color: #000000;
}

.olimpoCusto {
    color: #000000;
}

.olimpoLenda {
    color: #000000;
}

.firebirdsNome {
    color: #000000;
}

.firebirdsCusto {
    color: #000000;
}

.firebirdsLenda {
    color: #000000;
}

.semNome {
    color: #000000;
}

.semCusto {
    color: #000000;
}

.semLenda {
    color: #000000;
}
